<p>this is a timers template</p>
<ul id="timer-list">
  {{#each}}
    <p>Name of Course to study: {{name}}</p>
    <p>Number of Pomodoro sessions completed: {{completedSessions}}</p>
    
  {{/each}}
</ul>